In [1]:
import pandas as pd
import numpy as np
import os

# pip install chinesecalendar
from chinese_calendar import is_holiday

import warnings
warnings.filterwarnings('ignore')

/home/caihengxing/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
df = pd.DataFrame(pd.date_range('2012-09-27 00:00:00', '2012-10-03 00:00:00', freq='12H'))
df.columns = ['time']

In [3]:
df

                  time
0  2012-09-27 00:00:00
1  2012-09-27 12:00:00
2  2012-09-28 00:00:00
3  2012-09-28 12:00:00
4  2012-09-29 00:00:00
5  2012-09-29 12:00:00
6  2012-09-30 00:00:00
7  2012-09-30 12:00:00
8  2012-10-01 00:00:00
9  2012-10-01 12:00:00
10 2012-10-02 00:00:00
11 2012-10-02 12:00:00
12 2012-10-03 00:00:00

In [4]:
def get_time_feature(df, col):
    
    prefix = col + "_"
    
    df[col] = pd.to_datetime(df[col])
    df[prefix + 'year'] = df[col].dt.year
    df[prefix + 'month'] = df[col].dt.month
    df[prefix + 'day'] = df[col].dt.day
    df[prefix + 'hour'] = df[col].dt.hour
    df[prefix + 'weekofyear'] = df[col].dt.weekofyear
    df[prefix + 'dayofweek'] = df[col].dt.dayofweek
    df[prefix + 'is_wknd'] = df[col].dt.dayofweek // 5
    df[prefix + 'quarter'] = df[col].dt.quarter
    df[prefix + 'is_month_start'] = df[col].dt.is_month_start.astype(int)
    df[prefix + 'is_month_end'] = df[col].dt.is_month_end.astype(int)
    df[prefix + 'is_holiday'] = df[col].apply(lambda x: 1 if is_holiday(x) else 0)
    
    return df

In [5]:
df = get_time_feature(df, "time")

In [6]:
df

,time,time_year,time_month,time_day,time_hour,time_weekofyear,time_dayofweek,time_is_wknd,time_quarter,time_is_month_start,time_is_month_end,time_is_holiday
0,2012-09-27 00:00:00,2012,9,27,0,39,3,0,3,0,0,0
1,2012-09-27 12:00:00,2012,9,27,12,39,3,0,3,0,0,0
2,2012-09-28 00:00:00,2012,9,28,0,39,4,0,3,0,0,0
3,2012-09-28 12:00:00,2012,9,28,12,39,4,0,3,0,0,0
4,2012-09-29 00:00:00,2012,9,29,0,39,5,1,3,0,0,0
5,2012-09-29 12:00:00,2012,9,29,12,39,5,1,3,0,0,0
6,2012-09-30 00:00:00,2012,9,30,0,39,6,1,3,0,1,1
7,2012-09-30 12:00:00,2012,9,30,12,39,6,1,3,0,1,1
8,2012-10-01 00:00:00,2012,10,1,0,40,0,0,4,1,0,1
9,2012-10-01 12:00:00,2012,10,1,12,40,0,0,4,1,0,1
10,2012-10-02 00:00:00,2012,10,2,0,40,1,0,4,0,0,1
11,2012-10-02 12:00:00,2012,10,2,12,40,1,0,4,0,0,1
12,2012-10-03 00:00:00,2012,10,3,0,40,2,0,4,0,0,1